# **Challenge Telecom X - An치lisis de Evasi칩n de Clientes**

## **游늷Extracci칩n**

**Problema:** Has sido contratado como asistente de an치lisis de datos en Telecom X y formar치s parte del proyecto "Churn de Clientes". La empresa enfrenta una alta tasa de cancelaciones y necesita comprender los factores que llevan a la p칠rdida de clientes.  
Tu desaf칤o ser치 recopilar, procesar y analizar los datos, utilizando Python y sus principales bibliotecas para extraer informaci칩n valiosa. A partir de tu an치lisis, el equipo de Data Science podr치 avanzar en modelos predictivos y desarrollar estrategias para reducir la evasi칩n.

**Datos:** Los datos de la API de Telecom X est치n disponibles en formato JSON y contienen informaci칩n esencial sobre los clientes, incluyendo datos demogr치ficos, tipo de servicio contratado y estado de evasi칩n.

**Enlace de la API:** https://github.com/ingridcristh/challenge2-data-science-LATAM/blob/5adf5f2f87a72bd8b2e854db16e2f2f7c499081a/TelecomX_Data.json

In [44]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
url = 'DataBase/TelecomX_Data.json'

In [45]:
# Abrir el archivo json
datos = pd.read_json(url)
datos.head()
# En algunas columnas hay diccionarios que no se habren completamente

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

In [46]:
# Usamos el modulo json para normalizar el archivo porque hay diccionarios dentro de las columnas
import json

# Cargar los datos desde el archivo JSON
with open('DataBase/TelecomX_Data.json') as f:
    data = json.load(f)

# Normalizar el JSON para aplanar los diccionarios anidados
df = pd.json_normalize(data, sep='.')

# Mostrar las primeras filas
df.head()

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.OnlineBackup,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

## **游댢Transformaci칩n**

### **Conociendo los datos**

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7267 non-null   object
 1   Churn                      7267 non-null   object
 2   customer.gender            7267 non-null   object
 3   customer.SeniorCitizen     7267 non-null   int64
 4   customer.Partner           7267 non-null   object
 5   customer.Dependents        7267 non-null   object
 6   customer.tenure            7267 non-null   int64
 7   phone.PhoneService         7267 non-null   object
 8   phone.MultipleLines        7267 non-null   object
 9   internet.InternetService   7267 non-null   object
 10  internet.OnlineSecurity    7267 non-null   object
 11  internet.OnlineBackup      7267 non-null   object
 12  internet.DeviceProtection  7267 non-null   object
 13  internet.TechSupport       7267 non-null   object
 14  internet.StreamingTV       7267 non-null   object
 15  internet.StreamingMovies   7267 non-null   object
 16  account.Contract           7267 non-null   object
 17  account.PaperlessBilling   7267 non-null   object
 18  account.PaymentMethod      7267 non-null   object
 19  account.Charges.Monthly    7267 non-null   float64
 20  account.Charges.Total      7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [48]:
# Verificando duplicados en los Datos
print("Valores duplicados en el DataFrame: ", df.duplicated().sum())

Valores duplicados en el DataFrame:  0

In [49]:
# Observar los valores unicos de categorias
print("\nValores 칰nicos por categor칤a (para detectar inconsistencias):")
cat_cols = [col for col in df.columns if df[col].dtype == 'object' and col != 'customerID']
for col in cat_cols:
    print(f"{col}: {df[col].unique()}")

Valores 칰nicos por categor칤a (para detectar inconsistencias):
Churn: ['No' 'Yes' '']
customer.gender: ['Female' 'Male']
customer.Partner: ['Yes' 'No']
customer.Dependents: ['Yes' 'No']
phone.PhoneService: ['Yes' 'No']
phone.MultipleLines: ['No' 'Yes' 'No phone service']
internet.InternetService: ['DSL' 'Fiber optic' 'No']
internet.OnlineSecurity: ['No' 'Yes' 'No internet service']
internet.OnlineBackup: ['Yes' 'No' 'No internet service']
internet.DeviceProtection: ['No' 'Yes' 'No internet service']
internet.TechSupport: ['Yes' 'No' 'No internet service']
internet.StreamingTV: ['Yes' 'No' 'No internet service']
internet.StreamingMovies: ['No' 'Yes' 'No internet service']
account.Contract: ['One year' 'Month-to-month' 'Two year']
account.PaperlessBilling: ['Yes' 'No']
account.PaymentMethod: ['Mailed check' 'Electronic check' 'Credit card (automatic)'
 'Bank transfer (automatic)']
account.Charges.Total: ['593.3' '542.4' '280.85' ... '742.9' '4627.65' '3707.6']

### **Manejo de inconsistencias**

De la informacion sobre que datos unicos hay en cada categoria, podemos observar que en la columna "churn" la cual significa si el cliente dej칩 o no la empresa, hay 224 filas con espacios en blanco, se puede considerar que estos espacios significan que no ha dejado la empresa, por lo que se podrian cambiar por "No".

In [50]:
# Datos donde hay espacios en blanco en la columna "Churn"
df.loc[df['Churn'] == '']

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.OnlineBackup,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total
30,0047-ZHDTW,,Female,0,No,No,11,Yes,Yes,Fiber optic,...,No,No,No,No,No,Month-to-month,Yes,Bank transfer (automatic),79.00,929.3
75,0120-YZLQA,,Male,0,No,No,71,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,Yes,Credit card (automatic),19.90,1355.1
96,0154-QYHJU,,Male,0,No,No,29,Yes,No,DSL,...,Yes,No,Yes,No,No,One year,Yes,Electronic check,58.75,1696.2
98,0162-RZGMZ,,Female,1,No,No,5,Yes,No,DSL,...,Yes,No,Yes,No,No,Month-to-month,No,Credit card (automatic),59.90,287.85
175,0274-VVQOQ,,Male,1,Yes,No,65,Yes,Yes,Fiber optic,...,Yes,Yes,No,Yes,Yes,One year,Yes,Bank transfer (automatic),103.15,6792.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7158,9840-GSRFX,,Female,0,No,No,14,Yes,Yes,DSL,...,Yes,No,No,No,No,One year,Yes,Mailed check,54.25,773.2
7180,9872-RZQQB,,Female,0,Yes,No,49,No,No phone service,DSL,...,No,No,No,Yes,No,Month-to-month,No,Bank transfer (automatic),40.65,2070.75
7211,9920-GNDMB,,Male,0,No,No,9,Yes,Yes,Fiber optic,...,No,No,No,No,No,Month-to-month,Yes,Electronic check,76.25,684.85
7239,9955-RVWSC,,Female,0,Yes,Yes,67,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,Yes,Bank transfer (automatic),19.25,1372.9
7247,9966-VYRTZ,,Female,0,Yes,Yes,31,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,Yes,Mailed check,19.55,658.95

In [51]:
# Remplasamos los espacios en blanco por la respuesta "No"
df['Churn'] = df['Churn'].replace('', 'No')
df['Churn'].unique()

array(['No', 'Yes'], dtype=object)

### **Corrigiendo los tipos de datos**

Remplazamos los valores "Yes" y "No" por 1 y 0 respectivamente para un mejor manejo de los datos en las columnas Churn', 'Partner', 'Dependents', 'PhoneService' y 'PaperlessBilling

In [52]:
binary_cols = ['Churn', 'customer.Partner', 'customer.Dependents', 'phone.PhoneService', 'account.PaperlessBilling']
df[binary_cols] = df[binary_cols].replace({'Yes': 1, 'No': 0})

C:\Users\opino\AppData\Local\Temp\ipykernel_2324\2590068650.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[binary_cols] = df[binary_cols].replace({'Yes': 1, 'No': 0})

In [53]:
df[binary_cols] = df[binary_cols].astype(np.int64)

In [54]:
col_categorias = ['customer.gender','phone.MultipleLines','internet.InternetService',
                  'internet.OnlineSecurity','internet.OnlineBackup','internet.DeviceProtection',
                  'internet.TechSupport','internet.StreamingTV','internet.StreamingMovies',
                  'account.Contract','account.PaymentMethod']
# convertir a tipo category algunas columnas tipo object
df[col_categorias] = df[col_categorias].astype('category')

Convertir los valores de la columna "account.Charges.Total" no es posible debido a que hay valores nulos o espacios que reconoce como "string". Pdemos eliminar las filas o dejarlas siempre y cuando no afecte al analisis.  
Por el momento solo eliminaremos el valor, y en caso de haber algun problema mas adelante, seran eleminadas dichas filas

In [55]:
# df['account.Charges.Total'] = df['account.Charges.Total'].astype(np.float64)
nulos = (df['account.Charges.Total'].isna()).sum()
espacios = (df['account.Charges.Total'] == ' ').sum()
sin_valores = (df['account.Charges.Total'] == '').sum()

print('Hay ',nulos, 'valores nulos', '\nHay ',espacios, 'espacios en blanco', '\nHay ',sin_valores,
      'donde no hay valores registrados')

Hay  0 valores nulos
Hay  11 espacios en blanco
Hay  0 donde no hay valores registrados

In [56]:
# Eliminar espacios
df['account.Charges.Total'] = df['account.Charges.Total'].str.strip()
# Reemplazar valores vac칤os ('') por NaN
df['account.Charges.Total'] = df['account.Charges.Total'].replace('', np.nan)
# Eliminar filas con valores nulos en la columna 'account.Charges.Total'
df = df.dropna(subset=['account.Charges.Total'])
# Convertir a tipo float, forzando conversi칩n segura
df['account.Charges.Total'] = df['account.Charges.Total'].astype(np.float64)
# Convertir a tipo float, forzando conversi칩n segura
#df['account.Charges.Total'] = pd.to_numeric(df['account.Charges.Total'], errors='coerce')

In [57]:
# comprovamos que los datos se cambiaron a float y se eliminaron las 11 filas vacias. Al inicio habia 7267
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7256 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7256 non-null   object
 1   Churn                      7256 non-null   int64
 2   customer.gender            7256 non-null   category
 3   customer.SeniorCitizen     7256 non-null   int64
 4   customer.Partner           7256 non-null   int64
 5   customer.Dependents        7256 non-null   int64
 6   customer.tenure            7256 non-null   int64
 7   phone.PhoneService         7256 non-null   int64
 8   phone.MultipleLines        7256 non-null   category
 9   internet.InternetService   7256 non-null   category
 10  internet.OnlineSecurity    7256 non-null   category
 11  internet.OnlineBackup      7256 non-null   category
 12  internet.DeviceProtection  7256 non-null   category
 13  internet.TechSupport       7256 non-null   category
 14  internet.StreamingTV       7256 non-null   category
 15  internet.StreamingMovies   7256 non-null   category
 16  account.Contract           7256 non-null   category
 17  account.PaperlessBilling   7256 non-null   int64
 18  account.PaymentMethod      7256 non-null   category
 19  account.Charges.Monthly    7256 non-null   float64
 20  account.Charges.Total      7256 non-null   float64
dtypes: category(11), float64(2), int64(7), object(1)
memory usage: 703.0+ KB

### **A침adir columna cuentas diarias (daily accounts)**

Adaptamos el nombre al formato de los nombres de las columnas de la tabla, que se tienen hasta el momento, pudiendo cambiarlos mas adelante si es necesaria para una mejor visibilidad

In [58]:
# Agregar la columna de cuntas diarias despues de cuentas mesuales
pos = df.columns.get_loc('account.Charges.Monthly') + 1
df.insert(pos, 'account.Charges.daily', df['account.Charges.Monthly'] / 30)

In [59]:
df.sample(5)

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.daily,account.Charges.Total
3338,4644-OBGFZ,0,Male,0,1,1,55,1,No,No,...,No internet service,No internet service,No internet service,No internet service,One year,0,Mailed check,19.50,0.650000,1026.35
3515,4844-JJWUY,1,Female,1,0,0,1,1,No,Fiber optic,...,No,No,No,Yes,Month-to-month,1,Electronic check,86.00,2.866667,86.00
3537,4878-BUNFV,0,Male,0,1,1,42,1,No,No,...,No internet service,No internet service,No internet service,No internet service,Two year,0,Mailed check,20.70,0.690000,828.85
283,0409-WTMPL,0,Female,0,1,0,58,1,Yes,Fiber optic,...,Yes,No,Yes,Yes,One year,1,Credit card (automatic),110.65,3.688333,6526.65
3301,4603-JANFB,1,Male,0,0,0,1,1,No,Fiber optic,...,No,No,No,No,Month-to-month,1,Electronic check,69.85,2.328333,69.85

In [60]:
# Observamos que el tipo de datos en la columna creada sea float
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7256 entries, 0 to 7266
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7256 non-null   object
 1   Churn                      7256 non-null   int64
 2   customer.gender            7256 non-null   category
 3   customer.SeniorCitizen     7256 non-null   int64
 4   customer.Partner           7256 non-null   int64
 5   customer.Dependents        7256 non-null   int64
 6   customer.tenure            7256 non-null   int64
 7   phone.PhoneService         7256 non-null   int64
 8   phone.MultipleLines        7256 non-null   category
 9   internet.InternetService   7256 non-null   category
 10  internet.OnlineSecurity    7256 non-null   category
 11  internet.OnlineBackup      7256 non-null   category
 12  internet.DeviceProtection  7256 non-null   category
 13  internet.TechSupport       7256 non-null   category
 14  internet.StreamingTV       7256 non-null   category
 15  internet.StreamingMovies   7256 non-null   category
 16  account.Contract           7256 non-null   category
 17  account.PaperlessBilling   7256 non-null   int64
 18  account.PaymentMethod      7256 non-null   category
 19  account.Charges.Monthly    7256 non-null   float64
 20  account.Charges.daily      7256 non-null   float64
 21  account.Charges.Total      7256 non-null   float64
dtypes: category(11), float64(3), int64(7), object(1)
memory usage: 759.7+ KB

## **游늵Carga y an치lisis**

### **An치lisis Descriptivo**

 An치lisis descriptivo de los datos, calculando m칠tricas como media, mediana, desviaci칩n est치ndar, mimimos, maximos y cuartiles. Ayudan a comprender mejor la distribuci칩n y el comportamiento de los clientes.

In [61]:
df.describe()

,Churn,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,account.PaperlessBilling,account.Charges.Monthly,account.Charges.daily,account.Charges.Total
count,7256.000000,7256.0000,7256.000000,7256.000000,7256.000000,7256.000000,7256.000000,7256.000000,7256.000000,7256.000000
mean,0.257580,0.1629,0.483600,0.299063,32.395535,0.902839,0.593716,64.755423,2.158514,2280.634213
std,0.437332,0.3693,0.499765,0.457879,24.558067,0.296197,0.491173,30.125739,1.004191,2268.632997
min,0.000000,0.0000,0.000000,0.000000,1.000000,0.000000,0.000000,18.250000,0.608333,18.800000
25%,0.000000,0.0000,0.000000,0.000000,9.000000,1.000000,0.000000,35.450000,1.181667,400.225000
50%,0.000000,0.0000,0.000000,0.000000,29.000000,1.000000,1.000000,70.300000,2.343333,1391.000000
75%,1.000000,0.0000,1.000000,1.000000,55.000000,1.000000,1.000000,89.900000,2.996667,3785.300000
max,1.000000,1.0000,1.000000,1.000000,72.000000,1.000000,1.000000,118.750000,3.958333,8684.800000

## **游늯Informe final**